.footer-equipment {
  position: relative;
  width: 100%;
  height: 380px;   /* control visible strip */
  overflow: hidden;
  background: #fff;
}

.footer-equipment-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;  /* important */
  display: block;
}


.footer-root {
  position: relative;
  z-index: 2;
}
