.cta-banner {
  position: relative;
  overflow: visible;
}

.cta-content {
  max-width: 55%;
  position: relative;
  z-index: 2;
}
.cta-heading{
  margin-bottom: 15px;
}
.cta-desc{
  margin-bottom: 15px;
}

.cta-image {
  position: absolute;
  right: -60px;   /* push slightly outside */
  bottom: 0;      /* stick to bottom */
  z-index: 1;

  display: flex;
  align-items: flex-end;
}

.cta-img {
  width: 600px;   /* control size only with width */
  height: 600px;   /* keep natural proportion */
}

