
.result-span{
   background: linear-gradient(
    to bottom,
    #ff2e63 0%,
    #d90429 50%,
    #010101 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 4px 20px rgba(217, 4, 41, 0.35);
}