/* Bottom red stats strip */
.about-bottom-image {
  position: relative;
  width: 100%;
  height: 300px;      /* adjust depending on image */
  margin-top: 80px;   /* space from content above */
}

.about-bottom-img {
  object-fit: contain;
  object-position: center;
}
